<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
	  <div class="footer-col  footer-col-2">I am iOS developer.</div>
      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="username">twitter.com/{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="username">github.com/{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            <a href="https://instagram.com/{{ site.instagram_username }}">
              <span class="username">instagram.com/{{ site.instagram_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
